{% extends 'base.html' %}
{% block content %}
    <h1>Get Your Tweets!</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.searchterm.label }}<br>
            {{ form.searchterm(size=32) }}
        </p>
        <p>
            {{ form.file_name.label }}<br>
            {{ form.file_name(size=32) }}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}